<container>
  <row class="collapse footer">
    <columns class="footer-inner">
      <center>
        <img src="https://i.imgur.com/KWZ12om.png" alt="Event Bright Logo">
      </center>
    </columns>
  </row>
  <row class="collapse footer-socials">
    <columns small="12" large="3" class="pl"></columns>
    <columns class="social" small="12" large="2">
      <center>
        <a href="#">
          <center>
            <img src="https://i.imgur.com/17SIc3j.png" alt="Twitter">
          </center>
        </a>
      </center>
    </columns>
    <columns class="social" small="12" large="2">
      <center>
        <a href="#">
          <center>
            <img src="https://i.imgur.com/wdFejLJ.png" alt="Facebook">
          </center>
        </a>
      </center>
    </columns>
    <columns class="social" small="12" large="2">
      <center>
        <a href="#">
          <center>
            <img src="https://i.imgur.com/nPa9D26.png" alt="Instagram">
          </center>
        </a>
      </center>
    </columns>
    <columns small="12" large="3" class="pr"></columns>
  </row>
  <row class="collapse footer-bottom">
    <columns class="footer-bottom-inner">
      <p>This email was sent to <a href="#">feast.grant@gmail.com</a></p>
      <p><a href="#">Eventbrite</a> | 155 5th St, 7th Floor | San Francisco, CA 94103</p>
      <p>Copyright © 2021 Eventbrite. All rights reserved.</p>
    </columns>
  </row>
 </container>
