<container>
  <row class="collapse header">
    <columns class="logo">
      <center>
        <img src="https://i.imgur.com/KWZ12om.png" alt="Event Bright Logo">
      </center>
    </columns>
  </row>
  <row class="collapse header-personal">
    <columns class="header-personal-inner">
        <p>Grant,<br> You've Got Tickets!</p>
    </columns>
  </row>
  <row class="collapse header-img">
    <columns class="header-img-inner">
      <center>
        <img src="https://i.imgur.com/ZFecOex.png" alt="Event Bright">
      </center>
    </columns>
  </row>
  <row class="collapse header-tickets">
    <columns class="header-tickets-inner">
      <p>Keep your tickets handy</p>
    </columns>
  </row>
  <row class="collapse header-btn">
    <columns class="header-btn-inner">
      <a href="#">
        <p class="app-btn">Get The App</p>
      </a>
    </columns>
  </row>
</container> 
